<!DOCTYPE html>

<html>
    <head>
        <title>Michael's website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    </head>

    <body>
        <div class="first_load" style="display: block">
            <img class="loading" src="{{ url_for('static',filename='img/load_gif.gif') }}">
        </div>
        <div class="nav_cont fixed-top">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(0, 0, 0);">
                <a class="navbar-brand" href="{{ url_for('main') }}">Michael's website</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('main') }}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item_bout">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item_res">
                            <a class="nav-link" href="#resume">Resume</a>
                        </li>
                        <li class="nav-item_inter">
                            <a class="nav-link" href="#interests">Interests</a>
                        </li>
                        <li class="nav-item_pro">
                            <a class="nav-link" href="#projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="next_box" style="display: none">
            <img class="loading" src="{{ url_for('static',filename='img/load_gif.gif') }}">
        </div>
        <div class="img_text">
            <a href="https://images.nasa.gov/details-PIA12348" id="title_here">
                Great Observatories' Unique Views of the Milky Way</a>
        </div>
        <input type="button" value="Random Space Picture" class="random_btn" onclick="display_space()"/>
        <div class="all_container">
            <div id="about_div" style="overflow: hidden">
                <a class="anchor" id="about"></a>
                <div class="boutme_transit" style="display: none"></div>
                <div class="boutme2_transit" style="display: none"></div>
                <p class="boutme_hide text">A little bit about me...</p>
                <div class="about_content">
                    <div class="headers">About</div><br><br>
                    <div class="about_pic"></div>
                    <div class="about_text">
                        <p class="about_text2">
                            Hi! I'm Michael. I'm native to Middletown, New Jersey, and I currently study computer science and 
                            cognitive science at the University of Michigan--Ann Arbor. It's been quite a journey so far, and 
                            I'm excited to see what lies ahead!
                        </p>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div id="resume_div" style="overflow: hidden">
                <a class="anchor" id="resume"></a>
                <div class="resume_transit" style="display: none"></div>
                <div class="resume2_transit" style="display: none"></div>
                <p class="resume_hide text">My resume</p>
                <div class="resume_content">
                    <div class="headers">Resume</div><br><br>
                    <iframe src="https://docs.google.com/document/d/e/2PACX-1vSgRS9O_Y3o_wf48HETQFXUKpzVhoQLIlc50PMnmF--rJiJhapCh2rQKlzAet4rAQB7KdPXYH9m8RR_/pub?embedded=true"></iframe>
                </div>
                <div style="clear: both"></div>
            </div>
            <div id="interests_div" style="overflow: hidden">
                <a class="anchor" id="interests"></a>
                <div class="interests_transit" style="display: none"></div>
                <div class="interests2_transit" style="display: none"></div>
                <div class="text"><p class="interests_hide">My interests & passions</p></div>
                <div class="interests_text">
                    <div class="headers">Interests</div><br><br>
                    <ul class="interests_text2">
                        <li>Technology: Literally everything about it. It's incredible that people in cities and towns in every country
                            on Earth are connected by the same websites, electronics, and operating systems. The characters "www." form 
                            such an iconic part of the human experience, and I'm grateful to be able to study something so transformative 
                            and powerful.
                        </li><br>
                        <li>The social sciences: Anything psychology, sociology, law, political science, cognitive science, etc. How do we 
                            live together as we get closer together? In what ways is a mind like a computer and what are the implications?
                            What are our heuristics and biases? So many questions, so little time. And what's exciting is that technology 
                            continues to frame the way we understand and answer these social issues.
                        </li><br>
                        <li>Other interests/hobbies: Running, cooking, watching movies, and building programs and websites -- all 
                            amazing and wonderful!
                        </li>
                    </ul>
                </div>
                <div style="clear: both"></div>
            </div>
            <div id="projects_div" style="overflow: hidden">
                <a class="anchor" id="projects"></a>
                <div class="projects_transit" style="display: none"></div>
                <div class="projects2_transit" style="display: none"></div>
                <div class="text"><p class="projects_hide">My projects</p></div>
                <div class="projects_content">
                    <div class="headers">Projects</div><br><br>
                    <div class="connect4">
                        <a href="{{ url_for('connect4') }}"><img src="{{ url_for('static',filename='img/connect4.png') }}"
                            style="height: 200px; width: 200px"></a>
                        <p class="connect4_text">The game Connect 4</p>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    </body>
</html>