<!DOCTYPE html>
<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
    <style>
        .test {
            margin-top: 200px;
            background-color: red;
        }
        .child {
            height: 500px;
        }
    </style>
    <head>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
        <script type=text/javascript src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    </head>
    <body>
        <div class="test">
            <div class="child"></div>
        </div>
    </body>
</html>