.first_load {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
}
.loading {
    max-width: 35%;
    max-height: 35%;  
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.next_box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    position: fixed;
    display: block;
}
html {
    scroll-behavior: smooth;
}
body {
    background: no-repeat center center fixed;
    background-image: url('https://images-assets.nasa.gov/image/PIA08653/PIA08653~orig.jpg');
    background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding-top: 210px;
    width: 100%;
    overflow-x: hidden;
}
#title_here {
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}
.img_text {
    margin-top: 125px;
    position: relative;
    display: inline-block;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 85%;
    backdrop-filter: blur(50%);
    opacity: 40%;
    transition: 1s ease;
}
.img_text:hover {
    opacity: 150%;
    backdrop-filter: blur(150%);
    transition: 1s ease;
}
#about_div {
    position: relative;
    width: 100%;
    background-color: rgb(22, 22, 22);
    margin-top: 70vh;
    text-align: center;
    height: 300px;
}
.boutme_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(22, 22, 22);
    float: left;
}
.boutme2_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(22, 22, 22);
    left: 50%;
    float: left;
}
.about_content {
    position: absolute;
    width: 100%;
}
.about_pic {
    margin: 0 auto;
    background-image: url('/static/img/me_pic.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}
.about_text {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}
.about_text2 {
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    font-size: 125%;
}
#resume_div {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: rgb(28, 28, 28);
    height: 300px;
}
.resume_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(28, 28, 28);
    float: left;
}
.resume2_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(28, 28, 28);
    left: 50%;
    float: left;
}
.resume_content {
    position: absolute;
    width: 100%;
}
iframe {
    display: block;
    height: 900px;
    width: 830px;
    border: 0;
    margin: 0 auto;
}
#interests_div {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: rgb(32, 32, 32);
    height: 300px;
}
.interests_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(32, 32, 32);
    float: left;
}
.interests2_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(32, 32, 32);
    left: 50%;
    float: left;
}
.interests_text {
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    position: absolute;
    max-width: 1000px;
}
.interests_text2 {
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    font-size: 125%;
}
#projects_div {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: rgb(36, 36, 36);
    height: 300px;
}
.projects_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(36, 36, 36);
    float: left;
}
.projects2_transit {
    width: 50%;
    height: 300px;
    background-color: rgb(36, 36, 36);
    left: 50%;
    float: left;
}
.text {
    display: inline-block;
    vertical-align: middle;
    line-height: 300px;
    z-index: 5;
}
input[type=button] {
    position: relative;
    display: block;
    margin-top: 15px;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    transition: 0.5s ease;
    background-color: black;
    color: white;
    font-size: 68%;
    opacity: 50%;
}
input[type=button]:hover {
    background-color: white;
    color: black;
    opacity: 100%;
    transition: 0.5 ease;
}
p {
    -webkit-text-stroke: 1px black;
    color: rgb(221, 217, 217);
    font-weight: bolder;
    font-size: 230%;
    margin: 0;
}
.projects_content {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.connect4 {
    display: inline-block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-right: 50px;
}
.project_text {
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
    font-size: 100%;
}
.bsquared {
    display: inline-block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 50px;
}
.class_projects {
    display: inline-block;
    margin-top: 200px;
    padding-right: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.headers {
    margin-top: 50px;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px rgb(51, 41, 41);
    font-size: 190%;
    text-align: center;
    text-decoration: underline;
}